.DS_Store
temp
.db
native/ANEGLFW/.vs
native/ANEGLFW/ANEGLFW.sdf
native/ANEGLFW/Release
native/ANEGLFW/Debug
native/ANEGLFW/x64
native/ANEGLFW/ANEGLFW/Release
native/ANEGLFW/ANEGLFW/x64
*.txt
.docx
apm
native/.vs